.modal{
    top: 10rem; 
}

.carousel-inner{
    height: 16rem;
}

.popular-img.productos-container > .carousel > .carousel-inner {
     height: 24rem;
}

.navbarlogo{
    width: 8rem;
}

.masvendido-imagenes{
    height: 489px;
    width: 361px;
}

.preloader .preloader-circle{
    width: 170px;
    height: 170px;
}

.preloader .preloader-img img{
    max-width: 100px;
}